.row
  .span10
    %h1 Listing services
  .span2
    = link_to 'Create', new_service_path, :class => "btn"

.row
  .span12
    %table.table-bordered
      %thead
        %tr
          %th Name
          %th Description
          %th Subdomain
          %th
          %th
          %th
      %tbody
        - @services.each do |service|
          %tr
            %td= service.name
            %td= service.description
            %td= service.subdomain
            %td= link_to 'Show', service
            %td= link_to 'Edit', edit_service_path(service)
            %td= link_to 'Destroy', service, confirm: 'Are you sure?', method: :delete
