.row
  .span12
    %h1= @service.name

.row
  .span12
    %p= @service.description

  .span12
    %h2 Resources
    = render "resources/form"
    - @service.resources.each do |r|
      %p
        = r.class.to_s

= link_to 'Edit', edit_service_path(@service)
|
= link_to 'Back', services_path
