.row
  .span10
    %h1= @service.name

.row
  .span12
    %pre= @service.repo

.row
  .span12
    %p= @service.description

%hr/

.row
  .span8
    %h2 Resources
  .span4
    = render "resources/form"

  .span12
    %table.table.table-bordered
      %thead
        %tr
          %th Resource
          %th Host
          %th Data
      - @service.resources.each do |r|
        %tr
          %td= r.class.to_s
          %td= r.machine.ip_address
          %td
            %pre= pp r.data

%hr/

.row
  .span10
    %h2 Deploys

  .span2
    = button_to 'Deploy', deploy_service_path(@service), :class => "btn btn-primary"

  .span12
    %table.table
      - @service.deploys.each do |d|
        %tr
          %td= d.commit

= link_to 'Edit', edit_service_path(@service)
|
= link_to 'Back', services_path
