<%= form_for(@provision) do |f| %>
  <% if @provision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provision.errors.count, "error") %> prohibited this provision from being saved:</h2>

      <ul>
      <% @provision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :machine_id %><br />
    <%= f.number_field :machine_id %>
  </div>
  <div class="field">
    <%= f.label :service_id %><br />
    <%= f.number_field :service_id %>
  </div>
  <div class="field">
    <%= f.label :start_port %><br />
    <%= f.number_field :start_port %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
