<p id="notice"><%= notice %></p>

<p>
  <b>Machine:</b>
  <%= @provision.machine_id %>
</p>

<p>
  <b>Service:</b>
  <%= @provision.service_id %>
</p>

<p>
  <b>Start port:</b>
  <%= @provision.start_port %>
</p>


<%= link_to 'Edit', edit_provision_path(@provision) %> |
<%= link_to 'Back', provisions_path %>
