<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @resource.type %>
</p>

<p>
  <b>Service:</b>
  <%= @resource.service_id %>
</p>

<p>
  <b>Data:</b>
  <%= @resource.data %>
</p>


<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
