!!!
%html
  %head
    %title Tagore
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render "partials/menu"
    .container#main{:style => "margin-top: 4em;"}
      - if notice
        %p#notice= notice

      = yield
